@charset "UTF-8";

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility:hidden;
}

body {
	/*width: 640px;*/
	width: 320px;
	height: 416px;
	/*height: 960px;*/ /*縦方向を指定するとViewportが効かなくなる*/

	margin: 0 auto;
	padding: 0;
	/*position: relative;*/ /*relativeにするとViewportが効かなくなる*/
}
/*
a {
	display: inline-block;
}
*/
article {
	/*width: 100%;*/
	width: 320px;
	height: 416px;

	position: absolute;
	top: 0;
	left: 0;
	display: none;

	background-image: url(./images/ptn.png);
}

.page_title {
	height: 1.8em;
	width: 50%;
	margin: 10px auto 0 0;
	
	line-height: 1.8em;
	font-size: 1.5em;
	text-indent: 1.0em;
	
	border-bottom: solid 2px #333;	
	box-shadow: 0px 1px 0px 0px #111;
	-webkit-box-shadow: 0px 1px 0px 0px #111;	
}

.button {
	margin: 0 auto;
	width: 70%;
	height: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	border:solid 1px #b1b1b1;

	line-height: 40px;
	text-align: center;
	letter-spacing: 0.5em;
	
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	/*-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0.8, 0.8, 0.8, 0.1) inset;*/
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(5, 5, 5, 0.1) inset;
}

.gray_gradient {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
	/*background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);*/	
	text-shadow: 0px 2px 2px #eee;
}

.sub_button {
	position: absolute;
	bottom: 80px;
	left: 15%;	
}

.red_gradient {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e43a3a), to(#9f4242));
}

.main_button {	
	position: absolute;
	bottom: 20px;
	left: 15%;
}

/**********************************/
article#start {
}

img#title {
	width: 80%;
	display: block;
	margin: 30% auto 0;

	-webkit-animation-name: title_anim;
	-webkit-animation-duration: 5.0s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;	
}

@-webkit-keyframes title_anim {
	0% {
		-webkit-transform: scale(1.0);
	}
	95% {
		-webkit-transform: scale(1.0);
	}
	98% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1.0);
	} 
}

/**********************************/
article#description {
}

.description_sprite {
	width: 238px;
	height: 280px;
	
	display: block;
	margin: 10px auto 0;

	background: url('./images/small_tiny_description.png') no-repeat;
}

.description_sprite {
  -webkit-animation: desc 10s steps(5) infinite;
  animation: desc 10s steps(5) infinite;
}

@-webkit-keyframes desc {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: -1190px 0px;
  }
}

/*
.description_sprite {
}
*/


/**********************************/
article#play {
}

article#play #alert {
	width: 60%;
	height: 40%;
	padding-top: 10%;
	box-sizing: border-box;
	
	position: absolute;
	top: 20%;
	left: 20%;
		
	background-color: white;
	opacity: 0.7;
	border-radius: 10px;
	
	-webkit-animation-name: signal;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;		
}

@-webkit-keyframes signal {
	0% {
		opacity: 0.0;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.0;
	} 
}

article#play #alert p {	
	opacity: 1;	
	text-align: center;
}

/*
#cvs_container {
	width: 100%;
	height: 100%;

	position: fixed;
}
*/
#canvas {
	position: absolute;
	z-index: 10;
}

/**********************************/
article#result {
}

/*フリック対象*/
section {
	width: 100%;
	height: 416px;

	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	
	background-image: url(./images/ptn.png);
}

/***************flick**************/

.flick {
	width: 100%;
	height: 45px;
	position: absolute;
	bottom: 0;

	text-align: center;
	line-height: 45px;
	color: #eee;
	
	background-image: url("./images/ptn_flick.png");
	box-shadow: 0 -2px 3px 0px rgba(3,3,3, 0.5);
	-webkit-box-shadow: 0 -2px 3px 0px rgba(3,3,3, 0.3);
}

/*タッチしているとき*/
.moving_touch {
	-webkit-transition-property: top;
	-webkit-transition-duration: 1ms;
	top: 0px;
}

/*指を離したとき*/
.moving_release {
	-webkit-transition-property: top;
	-webkit-transition-duration: 300ms;
}

/**********************************/

article#result .back_button {
/*	margin-top: 15%;
	margin-left: 15%;	
	*/
}

/**********************************/

section#score {
	z-index: 2;
}

section#score ul{
	list-style: none;
	margin: 0.5em 0 0 0;
	padding: 0;
}

section#score li{
	margin-top: 15px;
}

/*小タイトル*/
.small_title {
	float: left;

	width: 4em;
	width: 20%;
	height: 20px;
	margin: 0 0 0 1.0em;

	line-height: 20px;
	color: #eeeeee;
	text-align: center;

	background-color: #222;
	box-shadow: 0px 1px 0px 2px rgba(2,2,2, 0.5);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(2,2,2, 0.5);
}

.result_contents {
	float: left;
	width: 70%;
	/*margin: -0.8em 0 0 auto;*/
	/*text-align: left;*/
}

.score_bar {
	height: 1.8em;
	margin: 0 0 0 auto;
	/*margin-top: -0.1em;*/
	/*margin: auto;*/
	
	line-height: 2.0em;
	font-size: 1.8em;
	/*text-indent: 2.0em;*/
	text-align: center;
	
	border-bottom: solid 2px #333;	
	box-shadow: 0px 1px 0px 0px #111;
	-webkit-box-shadow: 0px 1px 0px 0px #111;	
}

#level_wrapper {
}

#level_name {
	text-align: center;
	margin: 0 auto;
}

#level_img {
	display: block;
	margin: 0 auto;
	height: 165px;
}

.repeat_button {
	position: absolute;
	bottom: 60px;
	left: 15%;
}

/**********************************/

section#history {
	z-index: 1;
}

section#history ul {
	list-style: none;
	width: 90%;
	margin: 20px auto 0 1.4em;
	padding: 0;
}

section#history li { 
	border-bottom: dotted 1px #222;
	margin-top: 10px;
}

.record_score {
	margin: 5px auto 0 0;
	font-size: 1.5em;
}

.record_time {
	margin: -10px auto 0px;
	text-align: right;
	font-size: 0.8em;
	color: gray;
}

/*level*/
img.level_1_baby { width: 220px; height: 165px; background: url(./images/level.png) 0px 0px no-repeat; }
img.level_2_safa { width: 220px; height: 165px; background: url(./images/level.png) -220px 0px no-repeat; }
img.level_3_taisou { width: 220px; height: 165px; background: url(./images/level.png) -440px 0px no-repeat; }
img.level_4_china { width: 165px; height: 166px; background: url(./images/level.png) -660px 0px no-repeat; }